.form-container {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

.form-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #38bdf8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}