@media(max-width:1200px){

.home-grid{

grid-template-columns:1fr;

}

}



@media(max-width:700px){

.main-content{

padding:20px;

}

.summary-container{

flex-direction:column;

}

.charts-container{

flex-direction:column;

}

}