@media(max-width:1200px){

.home-grid{

grid-template-columns:1fr;

}

}

@media(max-width:900px){

.sidebar{

width:90px;

padding:15px;

}

.main-content{

margin-left:90px;

width:calc(100% - 90px);

}

.sidebar h2,

.user-profile h3,

.user-profile p{

display:none;

}

}

@media(max-width:700px){

.main-content{

padding:20px;

}

.summary-container{

flex-direction:column;

}

.charts-container{

flex-direction:column;

}

}