/* DARK THEME */

.dark-theme{

--bg-primary:#0F172A;
--bg-secondary:#111827;

--card-bg:#1E293B;
--card-hover:#273449;

--sidebar-bg:#111827;

--border-color:#334155;

--text-primary:#F8FAFC;
--text-secondary:#94A3B8;

--primary:#6366F1;
--secondary:#06B6D4;

--success:#22C55E;
--warning:#F59E0B;
--danger:#EF4444;

}



